.entry-form-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: #457b9d;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.entry-form__concept-and-mood-wrapper {
  display: flex;
  align-items: center;
}

.entry-form__label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #fff;
}

.entry-form__header {
  text-align: center;
  color: #fff;
}

.entry-form__date,
.entry-form__concept,
.entry-form__mood,
.entry-form__entry {
  background: var(--light-color);
}

.entry-form__date,
.entry-form__date-errors {
  width: 25%
}

.entry-form__concept,
.entry-form__concept-errors,
.entry-form__mood,
.entry-form__mood-errors {
  width: 75%;
}

.entry-form__entry,
.entry-form__entry-errors {
  width: 100%;
}

.entry-form__submit {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.entry-form__mood-emoji {
  margin-left: auto;
  font-size: 5rem;
}

.entry-form__errors {
  list-style-type: none;
  margin: 0.25rem 0;
}

.entry-form__error {
  color: var(--error-red);
  background-color: #fff;
}

@media(max-width: 500px) {
  .entry-form__label {
    margin-top: 1rem;
  }

  .entry-form__date,
  .entry-form__date-errors {
    width: 50%;
  }

  .entry-form__concept-and-mood-wrapper {
    flex-direction: column;
  }

  .entry-form__mood-emoji {
    margin-left: 0;
    margin-right: auto;
    font-size: 4rem;
  }
}