.entries {
  background: var(--dark-blue);
  color: #fff;
  padding: 3rem;
}

.entries__header {
  text-align: center;
}

.journal-entry {
  background-color: var(--light-color);
  color: #000;
  margin: 2rem;
  border-radius: 5px;
  padding: 2rem;
}

.journal-entry__date {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.journal-entry__concept-mood-wrapper {
  display: flex;
  justify-content: space-around;
}

.journal-entry__concept,
.journal-entry__mood {
  flex-basis: 50%;
  text-align: center;
}

.journal-entry__entry {
  margin: 1rem;
  margin-bottom: 0;
}

.journal-entry__edit-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.journal-entry__edit-button {
  color: #fff;
}

@media(max-width: 500px) {
  .entries {
    padding: 1rem;
  }

  .journal-entry__date,
  .journal-entry__concept,
  .journal-entry__mood {
    margin: 0.5rem auto;
  }

  .journal-entry__concept-mood-wrapper {
    flex-direction: column;
  }
}