.entry-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: #457b9d;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: none;
  flex-basis: 100%;
}

.entry-form__concepts-and-mood-wrapper {
  display: flex;
}

.entry-form__label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #fff;
}

.entry-form__header {
  text-align: center;
  color: #fff;
}

.entry-form__date,
.entry-form__concepts,
.entry-form__mood,
.entry-form__entry {
  background: var(--light-color);
}

.entry-form__date {
  width: 25%
}

.entry-form__concepts,
.entry-form__mood {
  width: 75%;
}

.entry-form__entry {
  width: 100%;
}

.entry-form__submit {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.entry-form__mood-emoji {
  margin-left: auto;
  font-size: 4rem;
}

@media(max-width: 500px) {
  .entry-form__label {
    margin-top: 1rem;
  }

  .entry-form__date {
    flex-basis: 50%;
  }

  .entry-form__concepts-and-mood-wrapper {
    flex-direction: column;
  }
}