.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.header::after {
  content: '';
  flex: 1;
}

.header__logo {
  flex: 1;
  max-width: 10rem;
}

.header__text {
  flex: 5;
  font-size: 3rem;
  text-align: center;
}

@media(max-width: 500px) {
  .header__logo {
    max-width: 5rem;
  }
}