.entry-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: #457b9d;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
}

.entry-form__concepts-and-mood-wrapper {
  display: flex;
}

.entry-form__label {
  flex-basis: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #eee;
}

.entry-form__header {
  text-align: center;
  color: #eee;
}

.entry-form__date,
.entry-form__concepts,
.entry-form__mood,
.entry-form__entry {
  background: var(--light-color);
}

.entry-form__date {
  flex-basis: 25%
}

.entry-form__concepts,
.entry-form__mood {
  flex-basis: 75%;
}

.entry-form__entry {
  flex-basis: 100%;
}

.entry-form__submit {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.entry-form__mood-emoji {
  margin-left: auto;
  transform: scale(4);
}