@import './config.css';
@import './utilities.css';

@import './components/header.css';
@import './components/entry-form.css';
@import './components/entries.css';
@import './components/entries-nav.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}